################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hackathon/.vs/Hackathon/FileContentIndex
/Hackathon/.vs/Hackathon/v17/.suo
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Antiforgery.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Abstractions.dll
/Hackathon/Hackathon/bin/Debug/net6.0/Dapper.dll
/Hackathon/Hackathon/bin/Debug/net6.0/HackathonDAL.dll
/Hackathon/.vs/Hackathon/v17/.suo
/Hackathon/Hackathon/bin/Debug/net6.0/Hackathon.deps.json
/Hackathon/Hackathon/bin/Debug/net6.0/Hackathon.dll
/Hackathon/Hackathon/bin/Debug/net6.0/Hackathon.exe
/Hackathon/Hackathon/bin/Debug/net6.0/Hackathon.pdb
/Hackathon/Hackathon/bin/Debug/net6.0/Hackathon.staticwebassets.runtime.json
/Hackathon/Hackathon/bin/Debug/net6.0/HackathonDAL.pdb
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Antiforgery.dll
/Hackathon/.vs/Hackathon/FileContentIndex/855c78f9-051c-4a5e-9eb4-297ebba7f967.vsidx
/Hackathon/.vs/Hackathon/FileContentIndex/8dd45eb6-6991-4305-83e7-d5051aba4d3e.vsidx
/Hackathon/.vs/Hackathon/FileContentIndex/b1575acf-6fbb-4931-b0cf-c3185bccbae0.vsidx
/Hackathon/.vs/Hackathon/FileContentIndex/edeaf471-33d0-4092-8a46-88e0da7f4c76.vsidx
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Cookies.dll
*.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Components.Authorization.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.AspNetCore.Authentication.OAuth.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/Microsoft.Extensions.Configuration.KeyPerFile.dll
/Hackathon/.vs/Hackathon/DesignTimeBuild/.dtbcache.v2
/Hackathon/.vs/Hackathon/v17/.futdcache.v2
/Hackathon/.vs/ProjectEvaluation/hackathon.metadata.v7.bin
/Hackathon/.vs/ProjectEvaluation/hackathon.projects.v7.bin
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Net.Security.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Net.ServicePoint.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Net.Sockets.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Threading.Tasks.Dataflow.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Net.WebClient.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Net.WebHeaderCollection.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Net.WebProxy.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Net.WebSockets.Client.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Net.WebSockets.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Numerics.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Numerics.Vectors.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.ObjectModel.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Reflection.DispatchProxy.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Reflection.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Reflection.Emit.dll
/Hackathon/Hackathon/bin/Debug/net6.0/refs/System.Reflection.Emit.ILGeneration.dll
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Hackathon/.vs/Hackathon/config/applicationhost.config
/Hackathon/Hackathon/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Hackathon/Hackathon/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Hackathon/Hackathon/bin/Debug/net6.0/Hackathon.UI.deps.json
/Hackathon/Hackathon/bin/Debug/net6.0/Humanizer.dll
/Hackathon/Hackathon/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/Hackathon/Hackathon/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/Hackathon/Hackathon/bin/Debug/net6.0/System.Drawing.Common.dll
/Hackathon/Hackathon/obj/Debug/net6.0/Hackathon.UI.assets.cache
/Hackathon/Hackathon/obj/Debug/net6.0/Hackathon.UI.RazorAssemblyInfo.cache
/Hackathon/Hackathon/obj/Debug/net6.0/Hackathon.UI.RazorAssemblyInfo.cs
/Hackathon/Hackathon/obj/Hackathon.UI.csproj.nuget.g.targets
/Hackathon/Hackathon/obj/project.assets.json
/Hackathon/Hackathon/obj/Debug/net6.0/Hackathon.UI.GeneratedMSBuildEditorConfig.editorconfig
