<body class="text-center">

    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please select</h1>
    <button class="btn btn-lg btn-primary btn-block" type="button" style="width:120px;" onclick="createGame();">Create</button>
    <button class="btn btn-lg btn-primary btn-block" type="button" style="width:120px;" onclick="connectGame();">Connect</button>
    <center>
        <input id="friendKey" class="form-control" style="margin:20px;width:250px;">
    </center>

    <p class="mt-5 mb-3 text-muted">&copy;Copy Right Kill-Bill</p>


    <a href="https://api.whatsapp.com/send?text=https://localhost:7089/Home/Game?GameKey=5b6dd01e-5224-4c7c-ba16-ae21d015ea23" target="_blank" class="btn btn-xs btn-success" onclick="return confirm('Are you sure you want to share?');">Share</a>


</body>


<script>
    function createGame() {

        $.ajax({
            type: 'POST',
            url: '/Game/CreateGame',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                window.location.href = "/Home/Game?GameKey=" + result.gameKey + "&&GamerKey=" + result.gamer1Key;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Sıralama işlemi yapılamadı!");
            }
        });
    }

    function connectGame() {

        let friendKey = document.getElementById("friendKey").value;

        $.ajax({
            type: 'POST',
            url: '/Game/CreateGame',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                window.location.href = "/Home/Game2?GameKey=" + friendKey;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Sıralama işlemi yapılamadı!");
            }
        });
    }
</script>


